body{
    background-color: #952524;
    display: flex;
    flex-direction: column;
    
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:90vh;
    gap:20px;
    
}

.game-container{
    background-color:#FFE0C4;
    width:600px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding:10px 20px 5px 20px;
}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-section{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
#logo{
    width:500px;
    height: auto;
}

.buttons{
    display: flex;
    gap:30px;
}

.instruction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #952524;
    font-weight:200;
}

.choice{
    background-color: white;
    padding:10px 15px;
    border-radius:6px;
    font-weight:700;
    border: none;
    box-shadow: 4px 4px #FFA500;
    font-size: 18px;
    color: #952524;
    cursor:pointer;
}

.choice:hover{
    background-color: #FFA500;
}

#roundStatus{
    background-color: #FFA500;
    padding:10px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}